.mainContainer {
    width: 800px;
    height: 400px;
    margin: 0 auto;
    position:relative;
}

.leftDiv {
    width: 15%;
    height: 100%;
    display: inline-block;
    margin: 0 auto;
    position:absolute;
    left: 0;
}

.centerDiv {
    width: 80%;
    height: 100%;
    display: inline-block;
    margin-left: 15%;
}

svg {
    width: 100%;
    height: 90%;
    margin: 0 auto;
}

li {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: white;
    border:white;
    color:#36454f;
}

a {
    color:#36454f;
}

button, p {    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 100%;
    color:#36454f;
    background: #dddddd;
    border:#dddddd;
    margin: 0 auto;
    margin-left: 0 auto;
    margin-right: 0 auto;
    text-align: center;
    width: 100%;
    height: 10%;
}

path, g {
    fill: #36454f;
    stroke:white;    
}

br {
    line-height:350%;
}

a {
    text-decoration: none;
}

a:hover {
    background-color:#dddddd;
}
